# F# Files
*.fsproj
.ionide
bin/
obj/
.fake

# C/C++ compiled objects
*.exe
*.out
*.app
*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.slo
*.lo
*.o
*.obj

# Haskell
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.log

# IDE foler
.vscode/
